body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    margin: 40px;
}
h1{
    text-align: center;
    background-color: #ffcc80;
    padding: 20px;
    border: 2px solid #e65100;
    margin-bottom: 30px;
}
h2{
    text-align: center;
    background-color: #ffcc80;
    padding: 20px;
    border: 2px solid #e65100;
    margin-bottom: 30px;
}
img{
    text-align: center;
}
ul{
    list-style-type: none;
    padding:0;
    margin:0 auto;
    max-width: 400px;
}
li{
    background-color: #ffe0b2;
    border: 1px solid #fb8c00;
    margin: 10px 0;
    padding: 15px;
    text-align: center;

    width: 100%;
    box-sizing: border-box;
}
body.recipe-page p{
    background-color: green;
    border: 1px solid yellow;
    margin: 10px 0;
    padding: 15px;
    text-align: center;
}